body{
	font-family: helvetica;
	margin: 0 2% 0 2%;
}

img {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.top{
	display: inline;
	height: 6em;
}

.topnav{
	display: table;
	padding: 4.4em 0px 0px;
	float: right;
	margin: 0px;
}

.topnav li{
	display:inline-block;
	list-style-type: none;
	font-size: 20;
	padding: 0px;
	margin-left: .4em;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	border: 0;
	color: #999999;
	background-color: #999999;
	height: 2px;
	width: 100%;
	margin: 0;
}

.sidenav{
	width: 20%;
	float: left;
}

.menu{
	list-style-type: none;
	font-weight: bold;
	margin: 3em 0 0 0;
	padding: 0px;
}

.menu li{
	padding-bottom: 1em;
}

.article{
	width:70%;
	float: right;	
	margin: 3em 0;
}
p {
	margin:0 0 10px 0;
	padding:0;
}

h5 {
	margin: 0;
	padding:0;
}

h3 {
	margin: 0;
	padding:0 0 10px 0;
	text-transform: uppercase;
}

footer{
	clear:both;
	margin-top: 5px;
}